<!-- Content
	================================================== -->
<div class="dashboard-content">
	<div id="titlebar">
		<div class="row">
			<div class="col-md-12">
				<h2>Add Listing</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Add Listing</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="row">
		<!--Updated booking-->

		<form [formGroup]="postAdd" class="form-ad" novalidate>

			<div class="col-lg-12">

				<div id="add-listing">

					<!-- Section -->
					<div class="add-listing-section">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-doc"></i> Basic Informations</h3>
						</div>
						<!-- Row -->
						<div class="row with-forms">

							<!-- Status -->
							<div class="col-md-6">
								<h5>Category</h5>
								<select name="category-group" id="category-group" [(ngModel)]="employeeService.selectedEmployee.Category"
								 formControlName="Category" class="form-control" #catagory (change)="selectedCat($event)">
									<option label="Select">Select Category</option>
									<option *ngFor="let employee of employeeList">{{employee.Category}}</option>
								</select>
							</div>

							<!-- Type -->
							<div class="col-md-6">
								<h5>Keywords <i class="tip" data-tip-content="Maximum of 15 keywords related with your business"></i></h5>
								<!-- <input type="text" placeholder="Keywords should be separated by commas"> -->
								<input type="text" class="form-control" placeholder="keywords" formControlName="keywords" />

							</div>

						</div>
						<!-- Row / End -->

						<!-- Title -->
						<div class="row with-forms" *ngIf="selectedCategory == true">
							<div class="col-md-12">
								<h5>Listing Title <i class="tip" data-tip-content="Name of your business"></i></h5>
								<!-- <input class="search-field" type="text" value=""/> -->
								<input name="Adtitle" placeholder="Ad title" formControlName="title" class="form-control input-md" type="text"
								 #adTitle>

							</div>
						</div>
					</div>
					<!-- Section / End -->

					<!-- Section -->
					<div class="add-listing-section margin-top-45" *ngIf="selectedCategory == true">
						<div class="submit-section">

							<!-- Row -->
							<div class="row with-forms">

								<!-- City -->
								<div class="col-md-6">
									<h5>City</h5>
									<select name="city" id="city" [(ngModel)]="employeeService.selectedEmployee.city" formControlName="city" class="form-control"
									 #city>
										<!-- <select  class="chosen-select-no-single" > -->
										<option label="blank">Select City</option>
										<option>Karachi</option>
										<option>Hydrabad</option>
										<option>Lahore</option>
										<option>Islamabad</option>
										<option>Peshawar</option>
										<option>Sialkot</option>
										<option>Multan</option>
									</select>
								</div>
							</div>
							<!-- Row / End -->

						</div>
					</div>
					<!-- Section / End -->




					<!-- Section -->
					<div class="add-listing-section margin-top-45" *ngIf="selectedCategory == true">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i> Gallery</h3>
						</div>
						<!-- Dropzone -->
						<div class="submit-section">
							<input class="dropzone" type="file" (change)="detectFiles($event)" /><br>
						</div>

					</div>
					<!-- Section / End -->


					<!-- Section -->
					<div class="add-listing-section margin-top-45" *ngIf="selectedCategory == true">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-docs"></i> Details</h3>
						</div>

						<!-- Description -->
						<div class="form">
							<h5>Description</h5>
							<!-- <textarea class="WYSIWYG" name="summary" cols="40" rows="3" id="summary" spellcheck="true"></textarea> -->
							<textarea class="form-control" formControlName="Description" id="textarea" name="textarea">Describe what makes your ad unique </textarea>
						</div>
						<!-- Row -->
						<div class="row with-forms">
						</div>
						<!-- Row / End -->
						<!-- Row -->
						<div class="row with-forms">
						</div>
						<!-- Row / End -->
					</div>
					<!-- Section / End -->


					<!-- Section -->
					<!-- <div class="add-listing-section margin-top-45">
		   <div class="add-listing-headline">
			<h3><i class="sl sl-icon-clock"></i> Opening Hours</h3>
			<label class="switch"><input type="checkbox" checked><span class="slider round"></span></label>
		  </div>
		  <div class="switcher-content">
	</div>
		</div> -->
					<!-- Section / End -->


					<!-- Section -->
					<div class="add-listing-section margin-top-45" *ngIf="selectedCategory == true">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-book-open"></i> Pricing</h3>
							<!-- Switcher -->
							<label class="switch"><input type="checkbox" checked><span class="slider round"></span></label>
						</div>

						<!-- Switcher ON-OFF Content -->
						<!-- <div class="switcher-content"> -->

							<div class="row">
								<div class="col-md-12">
									<table id="pricing-list-container">
										<tr class="pricing-list-item pattern">
											<td>
												<div class="fm-input pricing-price"><input type="text" placeholder="Price" data-unit="PKR" /></div>
											</td>
										</tr>
									</table>
								</div>
							</div>
						<!-- </div> -->
						<!-- Switcher ON-OFF Content / End -->

					</div>
					<!-- Section / End -->


					<!-- <a href="#" class="button preview">Preview </a> -->
					<!-- <i class="fa fa-arrow-circle-right"></i> -->
					<!-- <button class="button preview"> Preview</button> -->

					<button class="button preview" (click)="uploadSingle()"> Submit</button>


				</div>
			</div>

		</form>

		<!-- Copyrights -->
		<div class="col-md-12">
			<div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
		</div>

	</div>

</div>
<!-- Content / End -->