<!-- Content
	================================================== -->
<div class="dashboard-content">

  <!-- Titlebar -->

  <div id="titlebar">
    <div class="row">
      <div class="col-md-12">
        <h2>Howdy, Tom!</h2>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>Dashboard</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- Notice -->
  <div class="row">
    <div class="col-md-12">
      <div class="notification success closeable margin-bottom-30">
        <p>Your listing <strong>Hotel Govendor</strong> has been approved!</p>
        <a class="close" href="#"></a>
      </div>
    </div>

  </div>
  <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="emplyeeService.selectedEmployee.$key">
    <!-- <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="emplyeeService.selectedEmployee.name" placeholder="Full Name" required>
      </div> -->
    <div class="row">
      <div class="col-sm-10">
        <div class="form-group">
          <input class="form-control" name="Category" #office="ngModel" [(ngModel)]="emplyeeService.selectedEmployee.Category"
            placeholder="Enter Category">
        </div>

      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <button class="btn btn-default form-control" type="submit" [disabled]="!employeeForm.valid">
            <i class="fa fa-floppy-o"></i>
            Submit</button>
          <!-- <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">
                  <i class="fa fa-repeat"></i>
                   Reset</button> -->
        </div>
      </div>
    </div>

  </form>
  <div class="container" *ngFor="let category of categories">
    <div class="row">
      <h4>{{category.Category}}</h4>
    </div>
  </div>
  <!-- Content -->



</div>
<!-- Content / End -->